In [2]:
import os
import pandas as pd

In [3]:
df = pd.DataFrame({"file_name" : ["test_1", "test_2", "test_3"], "category_1" : [1, 2, 3], "category_2": ["a", "b", "c"]})

df

  file_name  category_1 category_2
0    test_1           1          a
1    test_2           2          b
2    test_3           3          c

In [ ]:
df.to_csv("outputs/test_csv.csv", header=True, index=False) # header : 카테고리명, index : index 번호

In [ ]:
print("a")

: